<?xml version="1.0" encoding="utf-8"?>
<SettingsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Resolution>
    <width>1920</width>
    <height>1080</height>
    <refreshRate>75</refreshRate>
  </Resolution>
  <Quality>2</Quality>
  <VSync>false</VSync>
  <MasterVolume>1</MasterVolume>
  <MusicVolume>1</MusicVolume>
  <SfxVolume>1</SfxVolume>
  <FullScreenMode>ExclusiveFullScreen</FullScreenMode>
</SettingsConfig>