<?xml version="1.0" encoding="utf-8"?>
<SettingsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Resolution>
    <width>1176</width>
    <height>664</height>
    <refreshRate>60</refreshRate>
  </Resolution>
  <Quality>0</Quality>
  <VSync>false</VSync>
  <MasterVolume>37</MasterVolume>
  <MusicVolume>0</MusicVolume>
  <SfxVolume>58</SfxVolume>
  <FullScreenMode>Windowed</FullScreenMode>
</SettingsConfig>