<?xml version="1.0" encoding="utf-8"?>
<SettingsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Resolution>
    <width>1280</width>
    <height>720</height>
    <refreshRate>75</refreshRate>
  </Resolution>
  <Quality>0</Quality>
  <VSync>true</VSync>
  <MasterVolume>100</MasterVolume>
  <MusicVolume>100</MusicVolume>
  <SfxVolume>100</SfxVolume>
  <FullScreenMode>FullScreenWindow</FullScreenMode>
</SettingsConfig>